{
	"processors": ["stylelint-processor-html"],
	"extends": "stylelint-config-standard",
	"plugins": [
		"stylelint-scss"
	],
	"rules": {
		"font-family-name-quotes": "always-unless-keyword",
		"string-quotes": "double",
		"value-keyword-case": "lower",
		"rule-empty-line-before": "always",
		"max-empty-lines": 2,
		"indentation": "tab",
		"no-empty-source": null,

		"scss/at-if-closing-brace-newline-after": "always-last-in-chain",
		"at-rule-empty-line-before": [
			"always",
			{
				ignore: ["after-comment"],
				ignoreAtRules: ["else"],
				except: ["first-nested", "after-same-name"]
			}
		],
		"block-closing-brace-newline-after": [
			"always",
			{
				ignoreAtRules: ["if"]
			}
		]
	}
}
